@model ChangePwdVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerManageLayout.cshtml";
}

<h1>ChangePassword</h1>

<form asp-controller="Account" asp-action="ChangePassword" asp-area="Customer" method="post" asp-route-returnUrl="~/Customer/Account/Edit">
    <div class="row mb-3">
        <div class="col-sm-4 col-form-label">Mật khẩu hiện tại</div>
        <div class="col-sm-8">
            <input asp-for="CurrentPwd" type="password" class="form-control" placeholder="Nhập mật khẩu hiện tại...">
            <span asp-validation-for="CurrentPwd" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4 col-form-label">Mật khẩu mới</div>
        <div class="col-sm-8">
            <input asp-for="NewPwd" type="password" class="form-control" placeholder="Nhập mật khẩu mới...">
            <span asp-validation-for="NewPwd" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4 col-form-label">Xác nhận mật khẩu</div>
        <div class="col-sm-8">
            <input asp-for="ConfirmNewPwd" type="password" class="form-control" placeholder="Nhập mật khẩu mới...">
            <span asp-validation-for="ConfirmNewPwd" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </div>
</form>