@model ChangePwdVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomerManage.cshtml";
}

<h1>Thiết lập mật khẩu</h1>
<div class="card info">
    <div class="card-body bg-light row  d-flex justify-content-center">
        <form class="my-4 p-5 border form-control w-50" asp-controller="Account" asp-action="ChangePassword" asp-area="Customer" method="post" asp-route-returnUrl="~/Customer/Account/Edit">
            <div class="col-10">
                <label asp-for="CurrentPwd" class="label-control mb-1">Mật khẩu hiện tại</label>
                <input asp-for="CurrentPwd" type="password" class="form-control mb-2 fs-4" placeholder="Nhập mật khẩu hiện tại">
                <span asp-validation-for="CurrentPwd" class="text-danger"></span>
            </div>
            <div class="col-10">
                <label asp-for="NewPwd" class="label-control mb-1">Mật khẩu mới</label>
                <input asp-for="NewPwd" type="password" class="form-control mb-2 fs-4" placeholder="Nhập mật khẩu mới">
                <span asp-validation-for="NewPwd" class="text-danger"></span>
            </div>
            <div class="col-10">
                <label asp-for="ConfirmNewPwd" class="label-control mb-1">Nhập lại mật khẩu mới</label>
                <input asp-for="ConfirmNewPwd" type="password" class="form-control mb-2 fs-4" placeholder="Nhập lại mật khẩu mới">
                <span asp-validation-for="ConfirmNewPwd" class="text-danger"></span>
            </div>


            <input type="submit" class="submit-btn-1 col-10 mt-4" value="Lưu thay đổi">
        </form>
    </div>
</div>