
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form asp-area ="Customer" asp-action="ResetPassword" asp-controller="account" method="post">
                                <input type="email" name="gmail" placeholder="Email">
                                <div class="button-box">
                                    <button type="submit" class="default-btn floatright">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


