.wizard-progress {
  width: 65%;
  height: 60px;
  display: table;
  table-layout: fixed;
  position: relative;
}
.title{
  text-transform: uppercase;
  color: rgb(61, 61, 255);
}
.wizard-progress .step {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  overflow: visible;
  position: relative;
  font-size: 14px;
  color: lightgrey;
  font-weight: bold;
}
.step .title {
  color: lightgrey;
}
.step.complete .title, .step.in-progress .title{
  color: rgb(61, 61, 255);
}
.wizard-progress .step:not(:last-child):before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 39px;
  background-color: lightgrey;
  height: 4px;
  width: 100%;
}
.wizard-progress .step .node {
  display: inline-block;
  border: 6px solid lightgrey;
  background-color: white;
  border-radius: 22px;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 26px;
  left: 50%;
  margin-left: -18px;
}
.wizard-progress .step.complete:before {
  background-color: rgb(61, 61, 255);
}
.wizard-progress .step.complete .node {
  padding-bottom: 5px;
  background-color: rgb(61, 61, 255);
  border: 0;
}
.wizard-progress .step.complete .node:before {
  font-family: 'boxicons';
  color: white;
  font-size: 20px;
  content: "\e9a4";
}
.wizard-progress .step.in-progress:before {
  background: rgb(61, 61, 255);
  background: -webkit-linear-gradient(left, rgb(61, 61, 255) 0%, lightgrey 100%);
}
.wizard-progress .step.in-progress .node {
  border-color: rgb(61, 61, 255);
}
