<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Subas || My Account</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/cust-lib/subas/img/icon/favicon.png">

    <!-- All CSS Files -->
    <!-- Select2 css-->
    <link rel="stylesheet" href="~/cust-lib/subas/lib/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/cust-lib/subas/lib/select2/css/select2-bootstrap4.css">
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="~/cust-lib/subas/css/bootstrap.min.css">
    <!-- Nivo-slider css -->
    <link rel="stylesheet" href="~/cust-lib/subas/lib/css/nivo-slider.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="~/cust-lib/subas/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="~/cust-lib/subas/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="~/cust-lib/subas/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/cust-lib/subas/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="~/cust-lib/subas/css/custom.css">

    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="~/cust-lib/subas/css/style-customizer.css">
    <link href="~/cust-lib/subas/#" data-style="styles" rel="stylesheet">

    <!-- Modernizr JS -->
    <script src="~/cust-lib/subas/js/vendor/modernizr-3.11.2.min.js"></script>
    <!-- Edit Profile css -->
    <link href="~/cust-lib/subas/css/avatar.css" rel="stylesheet" />
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="~/cust-lib/subas/http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Body main wrapper start -->
    <div class="wrapper">

        <!-- START HEADER AREA -->
        <header class="header-area header-wrapper">
            <!-- header-top-bar -->
            <div class="header-top-bar plr-185">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 d-none d-md-block">
                            <div class="call-us">
                                <p class="mb-0 roboto">0123456789</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="top-link clearfix">
                                <ul class="link f-right">
                                    <li>
                                        <a href="~/cust-lib/subas/my-account.html">
                                            <i class="zmdi zmdi-account"></i> My Account
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/cust-lib/subas/wishlist.html">
                                            <i class="zmdi zmdi-favorite"></i> Wish List (0)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/cust-lib/subas/login.html">
                                            <i class="zmdi zmdi-lock"></i> Login
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-middle-area -->
            <div id="sticky-header" class="header-middle-area plr-185">
                <div class="container-fluid">
                    <div class="full-width-mega-dropdown">
                        <div class="row">
                            <!-- logo -->
                            <div class="col-lg-2 col-md-4">
                                <div class="logo">
                                    <a href="/Customer/Product">
                                        <img src="~/images/header_logo.png" style="width:100px;height:90px;" alt="main logo">
                                    </a>
                                </div>
                            </div>
                            <!-- primary-menu -->
                            <div class="col-lg-8 d-none d-lg-block">
                                <nav id="primary-menu">
                                    <ul class="main-menu text-center">
                                        <li>
                                            <a href="~/cust-lib/subas/index.html">Home</a>
                                            <ul class="dropdwn">
                                                <li>
                                                    <a href="~/cust-lib/subas/index.html">Home Version 1</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/index-2.html">Home Version 2</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/index-3.html">Home Version 3</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/index-4.html">Home 4 Animated Text</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/index-5.html">Home 5 Animated Text Ovlerlay</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/index-6.html">Home 6 Background Video</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/index-7.html">Home 7 BG-Video Ovlerlay</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/index-8.html">Home 8 Boxed</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/index-9.html">Home 9 Gradient</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/index-10.html">Home 10 Boxed-2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-parent">
                                            <a href="~/cust-lib/subas/#">elements</a>
                                            <div class="mega-menu-area clearfix">
                                                <div class="mega-menu-link mega-menu-link-4  f-left">
                                                    <ul class="single-mega-item">
                                                        <li class="menu-title">Elements 1</li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-header-1-sticky.html">header-1-sticky</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-header-1-no-sticky.html">header-1-no-sticky</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-header-2-sticky.html">header-2-sticky</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-header-2-no-sticky.html">header-2-no-sticky</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-footer-1.html">footer-1</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-footer-2.html">footer-2</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-footer-3.html">footer-3</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-contact-form.html">Dynamic Contact Form</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-map.html">Google Map</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="single-mega-item">
                                                        <li class="menu-title">Elements 2</li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-featured-product-1.html">featured-product-1</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-featured-product-2.html">featured-product-2</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-product-tab-1.html">product-tab-1</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-product-tab-2.html">product-tab-2</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-up-comming-product-1.html">up-comming-product-1</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-up-comming-product-2.html">up-comming-product-2</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-single-product.html">single-product</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-sidebar-left.html">sidebar-left</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-sidebar-right.html">sidebar-right</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="single-mega-item">
                                                        <li class="menu-title">Elements 3</li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-section-title.html">section-title</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-pagination.html">pagination</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-banner.html">Banner</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-brands.html">Brands</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-breadcrumbs.html">Breadcrumbs</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-newsletter.html">Newsletter</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-team.html">team</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-audio.html">Audio</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-video.html">Video</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="single-mega-item">
                                                        <li class="menu-title">Elements 4</li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-typography.html">typography</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-buttons.html">Buttons</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-call-to-action.html">Call to Action</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-accordion.html">Accordion</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-alerts.html">Alerts</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-progress-bars.html">progress-bars</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-tab.html">tab</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-toggles.html">toggles</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/elements-toggles.html">toggles</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mega-parent">
                                            <a href="~/cust-lib/subas/shop.html">Products</a>
                                            <div class="mega-menu-area clearfix">
                                                <div class="mega-menu-link f-left">
                                                    <ul class="single-mega-item">
                                                        <li class="menu-title">Smart Phone</li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/#">All Mobile Phones</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/#">Smart phones</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/#">Android Mobiles</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/#">Windows Mobiles</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/#">Refurbished Mobiles</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/#">All Mobile Accessories</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/#">Cases & Covers</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="single-mega-item">
                                                        <li class="menu-title">Note Book</li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">All Note Books</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Smart notebooks</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Android Note Book</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Windows Note Books</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Refurbished Note Books</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Note Books Accessories</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Cases & Covers</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="single-mega-item">
                                                        <li class="menu-title">Tablets</li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">All Tablets</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Smart tablets</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Android Tablets</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Windows Tablets</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Refurbished Tablets</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Tablets Accessories</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/">Cases & Covers</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="mega-menu-photo f-left">
                                                    <a href="~/cust-lib/subas/#">
                                                        <img src="~/cust-lib/subas/img/mega-menu/1.jpg" alt="mega menu image">
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="mega-parent">
                                            <a href="~/cust-lib/subas/#">Pages</a>
                                            <div class="mega-menu-area mega-menu-area-2 clearfix">
                                                <div class="mega-menu-link mega-menu-link-2  f-left">
                                                    <ul class="single-mega-item">
                                                        <li class="menu-title">page list</li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/shop.html">Shop</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/shop-left-sidebar.html">Shop Left Sidebar</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/shop-right-sidebar.html">Shop Right Sidebar</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/shop-list.html">Shop List</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/single-product.html">Single Product</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/single-product-left-sidebar.html">
                                                                Single Product Left
                                                                Sidebar
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/single-product-no-sidebar.html">
                                                                Single Product No
                                                                Sidebar
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <ul class="single-mega-item">
                                                        <li class="menu-title">page list</li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/cart.html">Shopping Cart</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/wishlist.html">Wishlist</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/checkout.html">Checkout</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/order.html">Order</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/login.html">Login</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/my-account.html">My Account</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/about.html">About us</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/404.html">404</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="~/cust-lib/subas/blog.html">Blog</a>
                                            <ul class="dropdwn">
                                                <li>
                                                    <a href="~/cust-lib/subas/blog-left-sidebar.html">Dropdown Repeat</a>
                                                    <ul class="dropdwn-repeat">
                                                        <li>
                                                            <a href="~/cust-lib/subas/blog.html">Blog</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/blog-left-sidebar.html">Blog Left Sidebar</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/blog-right-sidebar.html">Blog Right Sidebar</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/blog-2.html">Blog style 2</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/blog-2-left-sidebar.html">Blog 2 Left Sidebar</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/blog-2-right-sidebar.html">Blog 2 Right Sidebar</a>
                                                        </li>
                                                        <li>
                                                            <a href="~/cust-lib/subas/single-blog.html">Blog Details</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/blog.html">Blog</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/blog-left-sidebar.html">Blog Left Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/blog-right-sidebar.html">Blog Right Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/blog-2.html">Blog style 2</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/blog-2-left-sidebar.html">Blog 2 Left Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/blog-2-right-sidebar.html">Blog 2 Right Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="~/cust-lib/subas/single-blog.html">Blog Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/cust-lib/subas/about.html">About us</a>
                                        </li>
                                        <li>
                                            <a href="~/cust-lib/subas/contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- header-search & total-cart -->
                            <div class="col-lg-2 col-md-8">
                                <div class="search-top-cart  f-right">
                                    <!-- header-search -->
                                    <div class="header-search f-left">
                                        <div class="header-search-inner">
                                            <button class="search-toggle">
                                                <i class="zmdi zmdi-search"></i>
                                            </button>
                                            <form action="#">
                                                <div class="top-search-box">
                                                    <input type="text" placeholder="Search here your product...">
                                                    <button type="submit">
                                                        <i class="zmdi zmdi-search"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- total-cart -->
                                    <div class="total-cart f-left">
                                        <div class="total-cart-in">
                                            <div class="cart-toggler">
                                                <a href="~/cust-lib/subas/#">
                                                    <span class="cart-quantity">02</span><br>
                                                    <span class="cart-icon">
                                                        <i class="zmdi zmdi-shopping-cart-plus"></i>
                                                    </span>
                                                </a>
                                            </div>
                                            <ul>
                                                <li>
                                                    <div class="top-cart-inner your-cart">
                                                        <h5 class="text-capitalize">Your Cart</h5>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="total-cart-pro">
                                                        <!-- single-cart -->
                                                        <div class="single-cart clearfix">
                                                            <div class="cart-img f-left">
                                                                <a href="~/cust-lib/subas/#">
                                                                    <img src="~/cust-lib/subas/img/cart/1.jpg" alt="Cart Product" />
                                                                </a>
                                                                <div class="del-icon">
                                                                    <a href="~/cust-lib/subas/#">
                                                                        <i class="zmdi zmdi-close"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="cart-info f-left">
                                                                <h6 class="text-capitalize">
                                                                    <a href="~/cust-lib/subas/#">Dummy Product Name</a>
                                                                </h6>
                                                                <p>
                                                                    <span>Brand <strong>:</strong></span>Brand Name
                                                                </p>
                                                                <p>
                                                                    <span>Model <strong>:</strong></span>Grand s2
                                                                </p>
                                                                <p>
                                                                    <span>Color <strong>:</strong></span>Black, White
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <!-- single-cart -->
                                                        <div class="single-cart clearfix">
                                                            <div class="cart-img f-left">
                                                                <a href="~/cust-lib/subas/#">
                                                                    <img src="~/cust-lib/subas/img/cart/1.jpg" alt="Cart Product" />
                                                                </a>
                                                                <div class="del-icon">
                                                                    <a href="~/cust-lib/subas/#">
                                                                        <i class="zmdi zmdi-close"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="cart-info f-left">
                                                                <h6 class="text-capitalize">
                                                                    <a href="~/cust-lib/subas/#">Dummy Product Name</a>
                                                                </h6>
                                                                <p>
                                                                    <span>Brand <strong>:</strong></span>Brand Name
                                                                </p>
                                                                <p>
                                                                    <span>Model <strong>:</strong></span>Grand s2
                                                                </p>
                                                                <p>
                                                                    <span>Color <strong>:</strong></span>Black, White
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top-cart-inner subtotal">
                                                        <h4 class="text-uppercase g-font-2">
                                                            Total =
                                                            <span>$ 500.00</span>
                                                        </h4>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top-cart-inner view-cart">
                                                        <h4 class="text-uppercase">
                                                            <a href="~/cust-lib/subas/#">View cart</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top-cart-inner check-out">
                                                        <h4 class="text-uppercase">
                                                            <a href="~/cust-lib/subas/#">Check out</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER AREA -->
        <!-- START MOBILE MENU AREA -->
        <div class="mobile-menu-area d-block d-lg-none section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li>
                                        <a href="~/cust-lib/subas/index.html">Home</a>
                                        <ul>
                                            <li>
                                                <a href="~/cust-lib/subas/index.html">Home Version 1</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/index-2.html">Home Version 2</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/index-3.html">Home Version 3</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/index-4.html">Home 4 Animated Text</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/index-5.html">Home 5 Animated Text Ovlerlay</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/index-6.html">Home 6 Background Video</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/index-7.html">Home 7 BG-Video Ovlerlay</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/index-8.html">Home 8 Boxed-1</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/index-9.html">Home 9 Gradient</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/index-10.html">Home 10 Boxed-2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="~/cust-lib/subas/shop.html">Products</a>
                                    </li>
                                    <li>
                                        <a href="~/cust-lib/subas/#">Pages</a>
                                        <ul>
                                            <li>
                                                <a href="~/cust-lib/subas/shop.html">Shop</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/shop-left-sidebar.html">Shop Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/shop-right-sidebar.html">Shop Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/shop-list.html">Shop List</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/single-product.html">Single Product</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/single-product-left-sidebar.html">Single Product Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/single-product-no-sidebar.html">Single Product No Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/cart.html">Shopping Cart</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/wishlist.html">Wishlist</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/checkout.html">Checkout</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/order.html">Order</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/login.html">Login</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/my-account.html">My Account</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/about.html">About us</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/404.html">404</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="~/cust-lib/subas/blog.html">Blog</a>
                                        <ul>
                                            <li>
                                                <a href="~/cust-lib/subas/blog.html">Blog</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/blog-left-sidebar.html">Blog Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/blog-right-sidebar.html">Blog Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/blog-2.html">Blog style 2</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/blog-2-left-sidebar.html">Blog 2 Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/blog-2-right-sidebar.html">Blog 2 Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/single-blog.html">Blog Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="~/cust-lib/subas/about.html">About Us</a>
                                    </li>
                                    <li>
                                        <a href="~/cust-lib/subas/contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MOBILE MENU AREA -->
        <!-- BREADCRUMBS SETCTION START -->
        <!-- BREADCRUMBS SETCTION END -->
        <!-- Start page content -->
        <div id="page-content" class="page-wrapper section">

            <!-- LOGIN SECTION START -->
            <div class="login-section mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 mb-20">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action" href="/customer/account/edit">
                                    <i class="zmdi zmdi-hc-lg zmdi-account py-3 pe-4"></i>Thông tin tài khoản
                                </a>
                                <a class="list-group-item list-group-item-action" href="~/cust-lib/subas/">
                                    <i class="zmdi zmdi-hc-lg zmdi-receipt py-3 pe-4"></i>Quản lí đơn hàng
                                </a>
                                <a class="list-group-item list-group-item-action" href="~/customer/account/ShipInfo">
                                    <i class="zmdi zmdi-hc-lg zmdi-pin py-3 pe-4"></i>Số địa chỉ
                                </a>
                                <a class="list-group-item list-group-item-action" href="~/cust-lib/subas/">
                                    <i class="zmdi zmdi-hc-lg zmdi-card py-3 pe-4"></i>Thông tin thanh toán
                                </a>
                                <a class="list-group-item list-group-item-action" href="~/cust-lib/subas/">
                                    <i class="zmdi zmdi-hc-lg zmdi-favorite py-3 pe-4"></i>Sản phẩm yêu thích
                                </a>
                            </div>
                        </div>
                        <!-- to add -->
                        <div class="col-lg-9">
                        @RenderBody()
                        </div>
                        <!-- to add -->
                    </div>
                </div>
            </div>
            <!-- LOGIN SECTION END -->
        </div>
        <!-- End page content -->
        <!-- START FOOTER AREA -->
        <footer id="footer" class="footer-area section">
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="plr-185">
                        <div class="footer-top-inner gray-bg">
                            <div class="row">
                                <div class="col-xl-4 col-lg-5 col-md-5">
                                    <div class="single-footer footer-about">
                                        <div class="footer-logo">
                                            <img src="" alt="">
                                        </div>
                                        <div class="footer-brief">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the subas industry's standard dummy text ever since the 1500s,
                                            </p>
                                            <p>When an unknown printer took a galley of type and If you are going to use a passage of Lorem Ipsum scrambled it to make.</p>
                                        </div>
                                        <ul class="footer-social">
                                            <li>
                                                <a class="facebook" href="~/cust-lib/subas/" title="Facebook">
                                                    <i class="zmdi zmdi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="google-plus" href="~/cust-lib/subas/" title="Google Plus">
                                                    <i class="zmdi zmdi-google-plus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="twitter" href="~/cust-lib/subas/" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a class="rss" href="~/cust-lib/subas/" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-block d-xl-block d-lg-none d-md-none">
                                    <div class="single-footer">
                                        <h4 class="footer-title border-left">Shipping</h4>
                                        <ul class="footer-menu">
                                            <li>
                                                <a href="~/cust-lib/subas/#"><i class="zmdi zmdi-circle"></i><span>New Products</span></a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/#"><i class="zmdi zmdi-circle"></i><span>Discount Products</span></a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/#"><i class="zmdi zmdi-circle"></i><span>Best Sell Products</span></a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/#"><i class="zmdi zmdi-circle"></i><span>Popular Products</span></a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/#"><i class="zmdi zmdi-circle"></i><span>Manufactirers</span></a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/#"><i class="zmdi zmdi-circle"></i><span>Suppliers</span></a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/#"><i class="zmdi zmdi-circle"></i><span>Special Products</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3">
                                    <div class="single-footer">
                                        <h4 class="footer-title border-left">my account</h4>
                                        <ul class="footer-menu">
                                            <li>
                                                <a href="~/cust-lib/subas/my-account.html">
                                                    <i class="zmdi zmdi-circle"></i><span>
                                                        My
                                                        Account
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/wishlist.html">
                                                    <i class="zmdi zmdi-circle"></i><span>
                                                        My
                                                        Wishlist
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/cart.html"><i class="zmdi zmdi-circle"></i><span>My Cart</span></a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/login.html"><i class="zmdi zmdi-circle"></i><span>Sign In</span></a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/login.html">
                                                    <i class="zmdi zmdi-circle"></i><span>Registration</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/checkout.html">
                                                    <i class="zmdi zmdi-circle"></i><span>
                                                        Check
                                                        out
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/cust-lib/subas/order.html">
                                                    <i class="zmdi zmdi-circle"></i><span>
                                                        Oder
                                                        Complete
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4">
                                    <div class="single-footer">
                                        <h4 class="footer-title border-left">Get in touch</h4>
                                        <div class="footer-message">
                                            <form action="#">
                                                <input type="text" name="name" placeholder="Your name here...">
                                                <input type="text" name="email" placeholder="Your email here...">
                                                <textarea class="height-80" name="message" placeholder="Your messege here..."></textarea>
                                                <button class="submit-btn-1 mt-20 btn-hover-1" type="submit">
                                                    submit
                                                    message
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom black-bg">
                <div class="container-fluid">
                    <div class="plr-185">
                        <div class="copyright">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="copyright-text">
                                        <p class="copy-text">
                                            ©... <strong>...</strong> Made With <i class="zmdi zmdi-favorite" style="color: red;" aria-hidden="true"></i> By
                                            <a class="company-name" href="">
                                                <strong>...</strong>
                                            </a>.
                                        </p>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <ul class="footer-payment text-end">
                                        <li>
                                            <a href="~/cust-lib/subas/#"><img src="" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="~/cust-lib/subas/#"><img src="" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="~/cust-lib/subas/#"><img src="" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="~/cust-lib/subas/#"><img src="" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END FOOTER AREA -->
        <!--style-customizer start -->
        <div class="style-customizer closed">
            <div class="buy-button">
                <a href="~/cust-lib/subas/index.html" class="customizer-logo"><img src="" alt="Theme Logo"></a>
                <a class="opener" href="~/cust-lib/subas/#"><i class="zmdi zmdi-settings"></i></a>
            </div>
            <div class="clearfix content-chooser">
                <h3>Layout Options</h3>
                <p>Which layout option you want to use?</p>
                <ul class="layoutstyle clearfix">
                    <li class="wide-layout selected" data-style="wide" title="wide"> Wide </li>
                    <li class="boxed-layout" data-style="boxed" title="boxed"> Boxed </li>
                </ul>
                <h3>Color Schemes</h3>
                <p>Which theme color you want to use? Select from here.</p>
                <ul class="styleChange clearfix">
                    <li class="skin-default selected" title="skin-default" data-style="skin-default"></li>
                    <li class="skin-green" title="green" data-style="skin-green"></li>
                    <li class="skin-purple" title="purple" data-style="skin-purple"></li>
                    <li class="skin-blue" title="blue" data-style="skin-blue"></li>
                    <li class="skin-cyan" title="cyan" data-style="skin-cyan"></li>
                    <li class="skin-amber" title="amber" data-style="skin-amber"></li>
                    <li class="skin-blue-grey" title="blue-grey" data-style="skin-blue-grey"></li>
                    <li class="skin-teal" title="teal" data-style="skin-teal"></li>
                </ul>
                <h3>Background Patterns</h3>
                <p>Which background pattern you want to use?</p>
                <ul class="patternChange clearfix">
                    <li class="pattern-1" data-style="pattern-1" title="pattern-1"></li>
                    <li class="pattern-2" data-style="pattern-2" title="pattern-2"></li>
                    <li class="pattern-3" data-style="pattern-3" title="pattern-3"></li>
                    <li class="pattern-4" data-style="pattern-4" title="pattern-4"></li>
                    <li class="pattern-5" data-style="pattern-5" title="pattern-5"></li>
                    <li class="pattern-6" data-style="pattern-6" title="pattern-6"></li>
                    <li class="pattern-7" data-style="pattern-7" title="pattern-7"></li>
                    <li class="pattern-8" data-style="pattern-8" title="pattern-8"></li>
                </ul>
                <h3>Background Images</h3>
                <p>Which background image you want to use?</p>
                <ul class="patternChange main-bg-change clearfix">
                    <li class="main-bg-1" data-style="main-bg-1" title="Background 1"> <img src="~/cust-lib/subas/images/customizer/bodybg/01.jpg" alt=""></li>
                    <li class="main-bg-2" data-style="main-bg-2" title="Background 2"> <img src="~/cust-lib/subas/images/customizer/bodybg/02.jpg" alt=""></li>
                    <li class="main-bg-3" data-style="main-bg-3" title="Background 3"> <img src="~/cust-lib/subas/images/customizer/bodybg/03.jpg" alt=""></li>
                    <li class="main-bg-4" data-style="main-bg-4" title="Background 4"> <img src="~/cust-lib/subas/images/customizer/bodybg/04.jpg" alt=""></li>
                    <li class="main-bg-5" data-style="main-bg-5" title="Background 5"> <img src="~/cust-lib/subas/images/customizer/bodybg/05.jpg" alt=""></li>
                    <li class="main-bg-6" data-style="main-bg-6" title="Background 6"> <img src="~/cust-lib/subas/images/customizer/bodybg/06.jpg" alt=""></li>
                    <li class="main-bg-7" data-style="main-bg-7" title="Background 7"> <img src="~/cust-lib/subas/images/customizer/bodybg/07.jpg" alt=""></li>
                    <li class="main-bg-8" data-style="main-bg-8" title="Background 8"> <img src="~/cust-lib/subas/images/customizer/bodybg/08.jpg" alt=""></li>
                </ul>
                <ul class="resetAll">
                    <li><a class="button button-border button-reset" href="~/cust-lib/subas/#">Reset All</a></li>
                </ul>
            </div>
        </div>
        <!--style-customizer end -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed JS at the end of the document so the pages load faster -->
    <!-- jquery latest version -->
    <script src="~/cust-lib/subas/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/cust-lib/subas/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="~/cust-lib/subas/js/bootstrap.bundle.min.js"></script>
    <!-- jquery.nivo.slider js -->
    <script src="~/cust-lib/subas/lib/js/jquery.nivo.slider.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="~/cust-lib/subas/js/plugins.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="~/cust-lib/subas/js/main.js"></script>
    <!-- Select2 js-->
    <script src="~/cust-lib/subas/lib/select2/js/select2.min.js"></script>
    <script>
        $('.single-select').select2({
            theme: 'bootstrap4',
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            height: $(this).data('height') == "auto",
            placeholder: $(this).data('placeholder'),
            allowClear: Boolean($(this).data('allow-clear')),
        });
    </script>
    <!--Address-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     @await RenderSectionAsync("Scripts", required: false)
</body>

</html>