<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Syndash - Bootstrap4 Admin Template</title>
	<!--favicon-->
	<link rel="icon" href="assets/images/favicon-32x32.png" type="image/png" />
	<!--plugins-->
	<link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<!--Data Tables -->
	<link href="assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
	<link href="assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
	<!--plugins-->
	<link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="assets/css/pace.min.css" rel="stylesheet" />
	<script src="assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto&display=swap" />
	<!-- Icons CSS -->
	<link rel="stylesheet" href="assets/css/icons.css" />
	<!-- App CSS -->
	<link rel="stylesheet" href="assets/css/app.css" />
	<link rel="stylesheet" href="assets/css/dark-sidebar.css" />
	<link rel="stylesheet" href="assets/css/dark-theme.css" />
</head>

<body>
	<!-- wrapper -->
	<div class="wrapper">
		<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
						<div class="breadcrumb-title pe-3">Tài khoản</div>
						<div class="ps-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item"><a href="javascript:;"><i
												class="bx bx-home-alt"></i></a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">Tài khoản</li>
								</ol>
							</nav>
						</div>
					</div>
					<!--end breadcrumb-->
					<div class="card">
						<div class="card-body">
							<div class="card-title">
								<h4 class="mb-0">Bảng quản lí tài khoản</h4>
							</div>
							<hr />
							<div class="mb-3 row">
								<div class="accordion col-8" id="accordionExample">
									<div class="accordion-item">
										<h3 class="accordion-header" id="headingOne">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#filler" aria-expanded="false"
												aria-controls="filler">
												BỘ LỌC
											</button>
										</h3>
										<div id="filler" class="accordion-collapse collapse"
											aria-labelledby="headingOne" data-bs-parent="#accordionExample">
											<div class="accordion-body">
												<form class="row" action="">
													<div class="col-md-6 mb-2">
														<label class="form-label">ID</label>
														<input type="text" class="form-control filter"
															placeholder="Nhập từ khóa vào đây..." id="idInput">
													</div>
													<div class="col-md-6 mb-2">
														<label class="form-label">Tên đăng nhập</label>
														<input type="text" class="form-control filter"
															id="userNameInput" placeholder="Nhập từ khóa vào đây...">
													</div>
													<div class="col-md-12 mb-2">
														<label class="form-label">Email</label>
														<input type="text" class="form-control filter"
															placeholder="Nhập từ khóa vào đây..." id="emailInput">
													</div>
													<!-- <div class="col-md-12 mb-2">
														<label class="form-label">Loại tài khoản</label>
														<div class="input-group row">
															<div class="form-check col-md-2">
																<input class="form-check-input filler" type="checkbox"
																	value="" id="checkAdmin">
																<label class="form-check-label">Quản trị viên</label>
															</div>
															<div class="form-check col-md-2">
																<input class="form-check-input filler" type="checkbox"
																	value="" id="checkManager">
																<label class="form-check-label">Quản lí</label>
															</div>
															<div class="form-check col-md-2">
																<input class="form-check-input filler" type="checkbox"
																	value="" id="checkStaff">
																<label class="form-check-label">Nhân viên</label>
															</div>
															<div class="form-check col-md-2">
																<input class="form-check-input filler" type="checkbox"
																	value="" id="checkCustomer">
																<label class="form-check-label">Khách hàng</label>
															</div>
														</div>
													</div> -->
													<div class="col-md-6 mb-2">
														<label class="form-label">Loại tài khoản</label>
														<select class="form-select filter" id="role">
															<option value="" selected>--Không--</option>
															<option value="Quản trị viên">Quản trị viên</option>
															<option value="Quản lí">Quản lí</option>
															<option value="Nhân viên">Nhân viên</option>
															<option value="Khách hàng">Khách hàng</option>
														</select>
													</div>
													<div class="col-md-6 mb-2">
														<label class="form-label">Trạng thái</label>
														<select class="form-select filter" id="activation">
															<option value="" selected>--Không--</option>
															<option value="Hoạt động">Hoạt động</option>
															<option value="Đình chỉ">Đình chỉ</option>
														</select>
													</div>
													<!-- <div class="col-md-4"></div>
													<input type="submit" class="btn btn-primary mt-3 col-md-4" value="Lọc">
													<div class="col-md-4"></div> -->
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4">
									<button type="button" class="btn btn-success">Nhập file</button>
									<button type="button" class="btn btn-success">Xuất file</button>
									<a href="" class="btn btn-primary">Thêm nhân viên mới</a>
									<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
										data-bs-target="#add">
										Thêm tài khoản
									</button>

									<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel"
										aria-hidden="true">
										<form action="" class="row"></form>
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">
														Tài
														khoản</h5>
												</div>
												<div class="modal-body">
													<div class="col-md-12 mb-3">
														<label class="form-label">ID</label>
														<input type="text" class="form-control" value="" disabled>
													</div>
													<div class="col-md-12 mb-3">
														<label class="form-label">Email</label>
														<input type="text" class="form-control" value="">
													</div>
													<div class="col-md-12 mb-3">
														<label class="form-label">Tên đăng
															nhập</label>
														<input type="text" class="form-control" value="">
													</div>
													<div class="col-md-12 mb-3">
														<label class="form-label">Loại tài
															khoản</label>
														<select class="form-select">
															<option selected value="Quản trị viên">
																Quản
																trị viên</option>
															<option value="Quản lí">Quản lí
															</option>
															<option value="Nhân viên">Nhân viên
															</option>
															<option value="Khách hàng">Khách
																hàng</option>
														</select>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Hủy</button>
													<button type="button" class="btn btn-primary">Lưu</button>
												</div>
											</div>
											</form>
										</div>
									</div> -->
								</div>
								<div class="table-responsive mt-3">
									<table id="example2" class="table table-striped table-bordered" style="width:100%">
										<thead>
											<tr>
												<th>ID</th>
												<th>Email</th>
												<th>Tên đăng nhập</th>
												<th>Loại tài khoản</th>
												<th>Trạng thái</th>
												<th>Hoạt động</th>
											</tr>
										</thead>
										<tbody id="myTable">
											<tr>
												<td>KCH29H</td>
												<td>hunglm@fpt.edu.vn</td>
												<td id="userName">HungLM</td>
												<td>Quản trị viên</td>
												<td><span class="badge bg-success">Hoạt động</span></td>
												<td>
													</button>
													<!-- Button trigger modal -->
													<button type="button" class="btn btn-sm btn-default"
														data-bs-toggle="modal" data-bs-target="#acc1">
														<i class="lni lni-pencil-alt"></i>
													</button>
													<!-- Modal -->
													<div class="modal fade" id="acc1" tabindex="-1"
														aria-labelledby="exampleModalLabel" aria-hidden="true">
														<form action="" class="row"></form>
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="exampleModalLabel">
																		Tài
																		khoản</h5>
																</div>
																<div class="modal-body">
																	<div class="col-md-12 mb-3">
																		<label class="form-label">ID</label>
																		<input type="text" class="form-control"
																			value="KCH29H" disabled>
																	</div>
																	<div class="col-md-12 mb-3">
																		<label class="form-label">Email</label>
																		<input type="text" class="form-control"
																			value="hunglm@fpt.edu.vn" disabled>
																	</div>
																	<div class="col-md-12 mb-3">
																		<label class="form-label">Tên đăng
																			nhập</label>
																		<input type="text" class="form-control"
																			value="HungLM" disabled>
																	</div>
																	<div class="col-md-12 mb-3">
																		<label class="form-label">Loại tài
																			khoản</label>
																		<select class="form-select">
																			<option selected value="Quản trị viên">
																				Quản
																				trị viên</option>
																			<option value="Quản lí">Quản lí
																			</option>
																			<option value="Nhân viên">Nhân viên
																			</option>
																			<option value="Khách hàng">Khách
																				hàng</option>
																		</select>
																	</div>
																	<div class="col-md-12 mb-3">
																		<label class="form-label">Trạng thái</label>
																		<select class="form-select">
																			<option selected value="Hoạt động">Hoạt động
																			</option>
																			<option value="Đình chỉ">Đình chỉ</option>
																		</select>
																	</div>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary"
																		data-bs-dismiss="modal">Hủy</button>
																	<button type="button"
																		class="btn btn-primary">Lưu</button>
																</div>
															</div>
															</form>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td>OCBC92</td>
												<td>chinhlk@fpt.edu.vn</td>
												<td id="userName">ChinhLK</td>
												<td>Khách hàng</td>
												<td><span class="badge bg-danger">Đình chỉ</span></td>
												<td>
													<button type="button" class="btn btn-sm btn-default">
														<i class="lni lni-pencil-alt"></i>
													</button>
												</td>
											</tr>
											<tr>
												<td>JCUEU3</td>
												<td>quoctk@fpt.edu.vn</td>
												<td>QuocTK</td>
												<td>Nhân viên</td>
												<td><span class="badge bg-success">Hoạt động</span></td>
												<td>
													<button type="button" class="btn btn-sm btn-default">
														<i class="lni lni-pencil-alt"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end page-content-wrapper-->
			</div>
			<!--end page-wrapper-->
			<!--start overlay-->
			<div class="overlay toggle-btn-mobile"></div>
			<!--end overlay-->
			<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i
					class='bx bxs-up-arrow-alt'></i></a>
			<!--End Back To Top Button-->
			<!--footer -->
			<div class="footer">
				<p class="mb-0">Syndash @2020 | Developed By : <a href="https://themeforest.net/user/codervent"
						target="_blank">codervent</a>
				</p>
			</div>
			<!-- end footer -->
		</div>
		<!-- end wrapper -->
		<!--start switcher-->
		<div class="switcher-body">
			<button class="btn btn-primary btn-switcher shadow-sm" type="button" data-bs-toggle="offcanvas"
				data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i
					class="bx bx-cog bx-spin"></i></button>
			<div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true"
				data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling">
				<div class="offcanvas-header border-bottom">
					<h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
					<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
				</div>
				<div class="offcanvas-body">
					<h6 class="mb-0">Theme Variation</h6>
					<hr>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="lightmode"
							value="option1" checked>
						<label class="form-check-label" for="lightmode">Light</label>
					</div>
					<hr>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="darkmode"
							value="option2">
						<label class="form-check-label" for="darkmode">Dark</label>
					</div>
					<hr>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="darksidebar"
							value="option3">
						<label class="form-check-label" for="darksidebar">Semi Dark</label>
					</div>
					<hr>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="ColorLessIcons"
							value="option3">
						<label class="form-check-label" for="ColorLessIcons">Color Less Icons</label>
					</div>
				</div>
			</div>
		</div>
		<!--end switcher-->
		<!-- JavaScript -->
		<!-- Bootstrap JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>

		<!--plugins-->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
		<script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
		<script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
		<!--Data Tables js-->
		<script src="assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
		<script>
			$(document).ready(function () {
				var table = $('#example2').DataTable({});
				table.buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
			});

			$(document).ready(function () {
				$(".filter").on("input", function () {
					var id = $("#idInput").val().toLowerCase();
					var email = $("#emailInput").val().toLowerCase();
					var userName = $("#userNameInput").val().toLowerCase();
					var role = $("#role").val();
					var activation = $("#activation").val();
					$("#myTable tr").filter(function () {
						$(this).toggle(
							$(this).find('td:eq(0)').text().toLowerCase().indexOf(id) > -1
							&& $(this).find('td:eq(1)').text().toLowerCase().indexOf(email) > -1
							&& $(this).find('td:eq(2)').text().toLowerCase().indexOf(userName) > -1
							&& $(this).find('td:eq(3)').text().indexOf(role) > -1
							&& $(this).find('td:eq(4) > span').text().indexOf(activation) > -1
						);
					})
				});
			});
		</script>
		<!-- App JS -->
		<script src="assets/js/app.js"></script>
		<!-- CSS Description -->
		<style>
			#Desc {
				white-space: pre-line;
			}

			img {
				width: 105px;
				height: 70px;
			}
		</style>
</body>

</html>