@model VBookHaven.Models.SubCategory

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!--page-wrapper-->
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Loại sản phẩm</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Loại</li>
                            <li class="breadcrumb-item active" aria-current="page">Thêm loại</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="mb-0">Sửa thể loại</h4>
                    </div>
                    <hr />
                    <div class="card-body">
                        <form class="row g-3" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="SubCategoryId" />
                            <div class="col-md-6">
                                <label asp-for="SubCategoryName" for="inputName" class="form-label"></label>
                                <input asp-for="SubCategoryName" type="text" class="form-control">
                                <span asp-validation-for="SubCategoryName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <label asp-for="CategoryId" for="inputCate" class="form-label mt-1">Thể loại</label>
                                <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-select">
                                </select>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <label for="inputStatus" class="form-label" asp-for="Status"></label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="Status" class="form-check-input" type="radio" value="true">
                                        <label class="form-check-label" for="inlineRadio1">Hoạt động</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="Status" class="form-check-input" type="radio" value="false">
                                        <label class="form-check-label" for="inlineRadio1">Đình chỉ</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary px-5">Lưu</button>
                            </div>
                        </form>
                        <div class="mt-3">
                            <a asp-controller="Categories" asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end page-content-wrapper-->
</div>
<!--end page-wrapper-->