@*@model IEnumerable<VBookHaven.Models.SubCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                <a asp-controller="categories" asp-action="index">Go to categorylist</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
*@