@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<!-- wrapper -->
<div class="wrapper">
	<div class="authentication-reset-password d-flex align-items-center justify-content-center">
		<div class="row">
			<div class="col-12 col-lg-10 mx-auto">
				<div class="card radius-15">
					<div class="row g-0">
						<div class="col-lg-5">
							<div class="card-body p-md-5">
								<div class="text-left">
									<h1>VBookHaven</h1>
								</div>
								<h4 class="mt-5 font-weight-bold">Tạo mật khẩu mới</h4>
								<form method="post">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<input asp-for="Input.Code" type="hidden" />
									<input asp-for="Input.Email" type="hidden" />
									<div class="mb-3">
										<label asp-for="Input.Password" class="form-label"></label>
										<input asp-for="Input.Password" type="password" class="form-control" placeholder="Nhập mật khẩu mới..." />
										<span asp-validation-for="Input.Password" class="text-danger"></span>
									</div>
									<div class="mb-3">
										<label asp-for="Input.ConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
										<input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu..." />
										<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
									</div>
									<div class="d-grid gap-2">
										<button type="submit" class="btn btn-primary">Lưu</button>
										<a asp-page ="./Login" class="btn btn-light"><i class='bx bx-arrow-back mr-1'></i>Trở về đăng nhập</a>
									</div>
								</form>
							</div>
						</div>
						<div class="col-lg-7">
							<img src="~/mgmt-lib/images/login-images/forgot-password-frent-img.jpg" class="card-img login-img h-100" alt="...">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end wrapper -->
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}