@model VBookHaven.Controllers.ProductController

<form method="post">
	<label>Product Name</label>
	<input asp-for="Product.Name" /><br />
	<label>Barcode</label>
	<input asp-for="Product.Barcode" placeholder="Tự generate nếu để trống" /><br />
	<label>Quantity per Unit</label>
	<input asp-for="Product.QuantityPerUnit" /><br />
	<label>Purchase Price</label>
	<input asp-for="Product.PurchasePrice" /><br />
	<label>Retail Price</label>
	<input asp-for="Product.RetailPrice" /><br />
	<label>Retail Discount</label>
	<input asp-for="Product.RetailDiscount" /><br />
	<label>Wholesale Price</label>
	<input asp-for="Product.WholesalePrice" /><br />
	<label>Wholesale Discount</label>
	<input asp-for="Product.WholesaleDiscount" /><br />
	<label>Size</label>
	<input asp-for="Product.Size" /><br />
	<label>Weight</label>
	<input asp-for="Product.Weight" /><br />
	<label>Description</label>
	<input asp-for="Product.Description" /><br />
	<label>Subcategory</label>
	<select asp-for="Product.SubCategoryId" asp-items="ViewBag.subCategories"></select><br />

	<label>Material</label>
	<input asp-for="Stationery.Material" /><br />
	<label>Origin</label>
	<input asp-for="Stationery.Origin" /><br />
	<label>Brand</label>
	<input asp-for="Stationery.Brand" /><br />
	<input type="submit" value="Submit" />
</form>