@model VBookHaven.Controllers.ProductController

<script type="text/javascript">
	function AddImage() {
		var imageRow = "<tr><td><input type='file' accept='image/*' name='AddImageList'/></td>" +
			"<td><input type='button' value='Delete' onclick='DeleteImage(this)'/></td></tr>"
		$("#listImage").last().append(imageRow);
	}

	function DeleteImage(element) {
		var grandparent = $(element).parent().parent();
		$(grandparent).remove();
	}
</script>

<form method="post" enctype="multipart/form-data">
	<label>Product Name</label>
	<input asp-for="Product.Name" /><br />
	<label>Barcode</label>
	<input asp-for="Product.Barcode" placeholder="Tự generate nếu để trống" /><br />
	<label>Quantity per Unit</label>
	<input asp-for="Product.QuantityPerUnit" /><br />
	<label>Purchase Price</label>
	<input asp-for="Product.PurchasePrice" /><br />
	<label>Retail Price</label>
	<input asp-for="Product.RetailPrice" /><br />
	<label>Retail Discount</label>
	<input asp-for="Product.RetailDiscount" /><br />
	<label>Wholesale Price</label>
	<input asp-for="Product.WholesalePrice" /><br />
	<label>Wholesale Discount</label>
	<input asp-for="Product.WholesaleDiscount" /><br />
	<label>Size</label>
	<input asp-for="Product.Size" /><br />
	<label>Weight</label>
	<input asp-for="Product.Weight" /><br />
	<label>Description</label>
	<input asp-for="Product.Description" /><br />
	<label>Subcategory</label>
	<select asp-for="Product.SubCategoryId" asp-items="ViewBag.subCategories"></select><br />

	<label>Thumbnail</label>
	<input asp-for="Thumbnail" accept="image/*" /><br />
	@Html.AntiForgeryToken()

	<lable>Additional Images</lable>
	<input type="button" value="Add" id="btnAddImage" onclick="AddImage()" /><br />
	<table id="listImage"></table>

	<label>Material</label>
	<input asp-for="Stationery.Material" /><br />
	<label>Origin</label>
	<input asp-for="Stationery.Origin" /><br />
	<label>Brand</label>
	<input asp-for="Stationery.Brand" /><br />
	<input type="submit" value="Submit" />
	<a href="/product/index">Cancel</a>
</form>