<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Syndash - Bootstrap4 Admin Template</title>
	<!--favicon-->
	<link rel="icon" href="/images/favicon-32x32.png" type="image/png" />
	<!--plugins-->
	<link href="/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="/css/pace.min.css" rel="stylesheet" />
	<script src="/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto&display=swap" />
	<!-- Icons CSS -->
	<link rel="stylesheet" href="/css/icons.css" />
	<!-- App CSS -->
	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/css/dark-sidebar.css" />
	<link rel="stylesheet" href="/css/dark-theme.css" />
</head>

<body>
	<!-- wrapper -->
	<div class="wrapper">
		<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
						<div class="breadcrumb-title pe-3">Sản phẩm</div>
						<div class="ps-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item"><a href="javascript:;"><i
												class="bx bx-home-alt"></i></a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">Sửa sản phẩm</li>
								</ol>
							</nav>
						</div>
					</div>
					<!--end breadcrumb-->
					<div class="row">
						<div class="col-12 mx-auto">
							<div class="card border-top border-0 border-4 border-primary">
								<div class="card-body p-5">
									<div class="card-title d-flex align-items-center">
										<h3 class="mb-0 text-primary">Chi tiết văn phòng phẩm</h3>
									</div>
									<hr>
									<table class="table table-bordered" style="width:100%">
										<tbody>
											<tr>
												<th>ID</th>
												<td>2</td>
											</tr>
											<tr>
												<th>Mã vạch</th>
												<td>9234923742394</td>
											</tr>
											<tr>
												<th>Tên sản phẩm</th>
												<td>VVP 1</td>
											</tr>
											<tr>
												<th>Số lượng</th>
												<td>150</td>
											</tr>
											<tr>
												<th>Loại</th>
												<td>Bút bi xanh</td>
											</tr>
											<tr>
												<th>Đơn vị</th>
												<td>Chiếc</td>
											</tr>
											<tr>
												<th>Kích thước</th>
												<td>12 cm</td>
											</tr>
											<tr>
												<th>Trọng lượng</th>
												<td>50g</td>
											</tr>
											<tr>
												<th>Chất liệu</th>
												<td>Nhựa</td>
											</tr>
											<tr>
												<th>Xuất xứ</th>
												<td>Việt Nam</td>
											</tr>
											<tr>
												<th>Thương hiệu</th>
												<td>Thiên Long</td>
											</tr>
											<tr>
												<th>Giá lẻ</th>
												<td>5.000 VND</td>
											</tr>
											<tr>
												<th>Chiết khấu lẻ</th>
												<td>5%</td>
											</tr>
											<tr>
												<th>Giá sỉ</th>
												<td>4.000 VND</td>
											</tr>
											<tr>
												<th>Chiết khấu sỉ</th>
												<td>10%</td>
											</tr>
											<tr>
												<th>Tạo bởi</th>
												<td>
													ChinhLK (23/6/2023)
												</td>
											</tr>
											<tr>
												<th>Sửa đổi lần cuối</th>
												<td>
													ChinhLK (23/6/2023)
												</td>
											</tr>
											<tr>
												<th>Trạng thái</th>
												<td>Hoạt động</td>
											</tr>
											<tr>
												<th>Mô tả</th>
												<td id="Desc">Contrary to popular belief, Lorem Ipsum is not simply
													random text. It has roots in a piece of classical Latin literature
													from 45 BC, making it over 2000 years old. Richard McClintock, a
													Latin professor at Hampden-Sydney College in Virginia, looked up one
													of the more obscure Latin words, consectetur.
												</td>
											</tr>
											<tr>
												<th>
													Ảnh sản phẩm
												</th>
												<td>
													<img
														src="https://product.hstatic.net/1000230347/product/but_bi_thien_long_tl-027__1__1024x1024.jpg">
													<img
														src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrLma5aAvx0GfOw_SpUWij6cng9eleiZoXxMyh-fsyRloR5RuxJW_KdBw5Hbup0ocbo5s&usqp=CAU">
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page-content-wrapper-->
		</div>
		<!--end page-wrapper-->
		<!--start overlay-->
		<div class="overlay toggle-btn-mobile"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i
				class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<!--footer -->
		<div class="footer">
			<p class="mb-0">Syndash @2020 | Developed By : <a href="https://themeforest.net/user/codervent"
					target="_blank">codervent</a>
			</p>
		</div>
		<!-- end footer -->
	</div>
	<!-- end wrapper -->
	<!--start switcher-->
	<div class="switcher-body">
		<button class="btn btn-primary btn-switcher shadow-sm" type="button" data-bs-toggle="offcanvas"
			data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i
				class="bx bx-cog bx-spin"></i></button>
		<div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true" data-bs-backdrop="false"
			tabindex="-1" id="offcanvasScrolling">
			<div class="offcanvas-header border-bottom">
				<h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
			</div>
			<div class="offcanvas-body">
				<h6 class="mb-0">Theme Variation</h6>
				<hr>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="lightmode"
						value="option1" checked>
					<label class="form-check-label" for="lightmode">Light</label>
				</div>
				<hr>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="darkmode"
						value="option2">
					<label class="form-check-label" for="darkmode">Dark</label>
				</div>
				<hr>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="darksidebar"
						value="option3">
					<label class="form-check-label" for="darksidebar">Semi Dark</label>
				</div>
				<hr>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="ColorLessIcons"
						value="option3">
					<label class="form-check-label" for="ColorLessIcons">Color Less Icons</label>
				</div>
			</div>
		</div>
	</div>
	<!--end switcher-->
	<!-- JavaScript -->
	<!-- Bootstrap JS -->
	<script src="/js/bootstrap.bundle.min.js"></script>

	<!--plugins-->
	<script src="/js/jquery.min.js"></script>
	<script src="/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<!-- App JS -->
	<script src="/js/app.js"></script>

	<style>
		th {
			width: 10%;
		}

		img {
			width: 177px;
			height: 100px;
		}
	</style>
</body>

</html>