@model Manage_CreateCustomerVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--page-wrapper-->
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Khách hàng</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;">
                                    <i class="bx bx-home-alt"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý khách hàng</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="mx-auto">
                <h3 class="mb-0 text-uppercase">Tạo khách hàng mới</h3>
                <hr>
                <div class="card border-top border-0 border-4 border-primary">
                    <div class="card-body p-5">
                        <div class="card-title d-flex align-items-center">
                            <div>
                                <i class="bx bxs-user me-1 font-22 text-primary"></i>
                            </div>
                            <h4 class="mb-0 text-primary">Thông tin khách hàng</h4>
                        </div>
                        <hr>
                        <form class="row" asp-action="Create" method="post">
                            <div class="col-md-9 row g-3 mt-0">
                                <div class="col-6">
                                    <label asp-for="Customer.FullName" for="inputName" class="form-label">Họ và tên</label>
                                    <input asp-for="Customer.FullName" class="form-control" id="inputName" placeholder="Nhập tên">
                                    <span asp-validation-for="@Model.Customer.FullName" class="text-danger "></span>
                                </div>
                                <div class="col-6">
                                    <label for="inputCity" class="form-label">Nhóm khách hàng</label>
                                    <div class="input-group mt-1">
                                        <div class="form-check-inline">
                                            <input asp-for="Customer.IsWholesale" class="form-check-input" type="radio" value="false" checked>
                                            <label class="form-check-label">Khách lẻ</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input asp-for="Customer.IsWholesale" class="form-check-input" type="radio" value="true">
                                            <label class="form-check-label">Khách sỉ</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label asp-for="Customer.DOB" for="inputDob" class="form-label">Ngày sinh</label>
                                    <input asp-for="Customer.DOB" type="date" class="form-control" id="inputBob">
                                    <span asp-validation-for="@Model.Customer.DOB" class="text-danger "></span>
                                </div>
                                <div class="col-5">
                                    <label asp-for="Customer.DefaultShippingInfo.Phone" for="inputPhone" class="form-label">Số điện thoại</label>
                                    <input asp-for="Customer.DefaultShippingInfo.Phone" type="text" class="form-control" id="inputPhone" placeholder="Nhập số điện thoại">
                                    <span asp-validation-for="@Model.Customer.DefaultShippingInfo.Phone" class="text-danger "></span>
                                </div>
                                <div class="col-3">
                                    <label for="inputCity" class="form-label">Giới tính</label>
                                    <div class="input-group mt-1">
                                        <div class="form-check-inline">
                                            <input asp-for="Customer.IsMale" class="form-check-input" type="radio" value="true">
                                            <label class="form-check-label" for="flexRadioDefault2">Nam</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input asp-for="Customer.IsMale" class="form-check-input" type="radio" value="false">
                                            <label class="form-check-label" for="flexRadioDefault2">Nữ</label>
                                            <span asp-validation-for="@Model.Customer.IsMale" class="text-danger "></span>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-md-4">
                                    <label class="form-label">Tỉnh/Thành Phố</label>
                                    <select asp-for="Customer.DefaultShippingInfo.ProvinceCode" class="single-select" id="province">
                                        <option value="" selected>Chọn Tỉnh/Thành Phố</option>
                                    </select>
                                    <span asp-validation-for="Customer.DefaultShippingInfo.ProvinceCode" class="text-danger"></span>
                                    <input id="provinceString" asp-for="Customer.DefaultShippingInfo.Province" hidden class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="Customer.DefaultShippingInfo.DistrictCode" for="inputDob" class="form-label">Quận/Huyện</label>
                                    <select asp-for="Customer.DefaultShippingInfo.DistrictCode" class="single-select" id="district">
                                        <option value="" selected>Chọn Quận/Huyện</option>
                                    </select>
                                    <span asp-validation-for="Customer.DefaultShippingInfo.DistrictCode" class="text-danger"></span>
                                    <input id="districtString" asp-for="Customer.DefaultShippingInfo.District" hidden class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="Customer.DefaultShippingInfo.WardCode" for="inputCity" class="form-label">Phường/Xã</label>
                                    <select asp-for="Customer.DefaultShippingInfo.WardCode" class="single-select" id="ward">
                                        <option selected value="">Chọn Phường/Xã</option>
                                    </select>
                                    <span asp-validation-for="Customer.DefaultShippingInfo.WardCode" class="text-danger"></span>

                                    <input id="wardString" asp-for="Customer.DefaultShippingInfo.Ward" hidden class="form-control" />
                                </div>
                                <div class="col-md-12">
                                    <label asp-for="Customer.DefaultShippingInfo.ShipAddress" class="form-label">Địa chỉ chi tiết</label>
                                    <textarea asp-for="Customer.DefaultShippingInfo.ShipAddress" class="form-control" placeholder="Nhập địa chỉ chi tiết"></textarea>
                                    <span asp-validation-for="Customer.DefaultShippingInfo.ShipAddress" class="text-danger "></span>
                                </div>
                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-success px-4">Thêm mới</button>
                                    <button type="button" onclick="window.location.href='/Admin/Customer/Index'" class="btn btn-secondary px-4">Thoát</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end page-content-wrapper-->
</div>
<!--end page-wrapper-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="~/js/editProfile.js"></script>
    <script src="~/js/address.js"></script>
}
