@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<!-- wrapper -->
<div class="wrapper">
	<div class="authentication-reset-password d-flex align-items-center justify-content-center">
		<div class="row">
			<div class="col-12 col-lg-10 mx-auto">
				<div class="card radius-15">
					<div class="row g-0">
						<div class="col-lg-5">
							<div class="card-body p-md-5">
								<div class="text-left">
									<h1><img src="~/images/header_logo.png" width="60" alt=""> VBookHaven</h1>
								</div>
								<h4 class="mt-5 font-weight-bold">Lấy lại mật khẩu</h4>
								<p class="text-muted">Yêu cầu lấy lại mật khẩu của bạn đã được gửi đến địa chỉ mail bạn đã nhập nếu đúng.</p>
								<p class="text-muted">Nếu bạn không thấy mail, hãy kiểm tra thư mục <strong>Thư rác</strong></p>
								<a asp-page="./Login" class="btn btn-light"><i class='bx bx-arrow-back mr-1'></i>Trở về đăng nhập</a>
							</div>
						</div>
						<div class="col-lg-7">
							<img src="~/mgmt-lib/images/login-images/forgot-password-frent-img.jpg" class="card-img login-img h-100" alt="...">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end wrapper -->