@*@using VBookHaven.Models
@model VBookHaven_Admin.Controllers.ProductController

<script type="text/javascript">
	function AddImage() {
		var imageRow = "<tr><td><input type='file' accept='image/*' name='AddImageList'/></td>" +
			"<td><input type='button' value='Delete' onclick='DeleteImage(this)'/></td></tr>"
		$("#listImage").last().append(imageRow);
	}

	function DeleteImage(element) {
		var grandparent = $(element).parent().parent();
		$(grandparent).remove();
	}

	function DeleteExistingImage(element) {
		var grandparent = $(element).parent().parent();
		var id = $(grandparent).find("td:eq(0)").text();

		//console.log(id);

		var deleteInfoRow = "<input type='hidden' name='DeleteImageIdList' value='" + id + "' />";
		$("#deleteList").append(deleteInfoRow);
		$(grandparent).remove();
	}
</script>

<form method="post" enctype="multipart/form-data">
	@if (Model.Product.Thumbnail != null)
	{
		<img src="~/images/thumbnail/@Model.Product.Thumbnail" width="400px" />

		<br />
	}
	<input hidden asp-for="Product.Thumbnail" />
	<input asp-for="DoDeleteThumbnail" />
	<label>Delete Thumbnail</label><br />
	<label>Change Thumbnail</label>
	<input asp-for="Thumbnail" accept="image/*" /><br />
	@Html.AntiForgeryToken()
	
	<label>Product ID</label>
	<input readonly asp-for="Product.ProductId" /><br />
	<label>Product Name</label>
	<input asp-for="Product.Name" /><br />
	<label>Barcode</label>
	<input asp-for="Product.Barcode" placeholder="Tự generate nếu để trống" /><br />
	<label>Quantity per Unit</label>
	<input asp-for="Product.QuantityPerUnit" /><br />
	<label>Purchase Price</label>
	<input asp-for="Product.PurchasePrice" /><br />
	<label>Retail Price</label>
	<input asp-for="Product.RetailPrice" /><br />
	<label>Retail Discount</label>
	<input asp-for="Product.RetailDiscount" /><br />
	<label>Wholesale Price</label>
	<input asp-for="Product.WholesalePrice" /><br />
	<label>Wholesale Discount</label>
	<input asp-for="Product.WholesaleDiscount" /><br />
	<label>Size</label>
	<input asp-for="Product.Size" /><br />
	<label>Weight</label>
	<input asp-for="Product.Weight" /><br />
	<label>Description</label>
	<input asp-for="Product.Description" /><br />
	<label>Subcategory</label>
	<select asp-for="Product.SubCategoryId" asp-items="ViewBag.subCategories"></select><br />

	<input hidden asp-for="Product.UnitInStock" />
	<input hidden asp-for="Product.IsBook" />
	<input hidden asp-for="Product.CreateDate" />
	<input hidden asp-for="Product.CreatorId" />

	<label>Additional Images</label>
	<table>
		@foreach (Image i in ViewBag.images)
		{
			<tr>
				<td hidden>@i.ImageId</td>
				<td><img src="~/images/img/@i.ImageName" width="400px" /></td>
				<td><input type="button" value="Delete" onclick="DeleteExistingImage(this)" /></td>
			</tr>
		}
	</table><br />
	<div hidden id="deleteList"></div>
	<input type="button" value="Add" onclick="AddImage()" /><br />
	<table id="listImage"></table>

	<input hidden asp-for="Stationery.ProductId" />
	<label>Material</label>
	<input asp-for="Stationery.Material" /><br />
	<label>Origin</label>
	<input asp-for="Stationery.Origin" /><br />
	<label>Brand</label>
	<input asp-for="Stationery.Brand" /><br />

	<label>Status</label>
	<input type="radio" asp-for="Product.Status" value="true" checked="@Model.Product.Status" />
	<label>Active</label>
	<input type="radio" asp-for="Product.Status" value="false" checked="@(!Model.Product.Status)" />
	<label>Inactive</label><br />

	<input type="submit" value="Submit" />
	<a href="/product/index">Cancel</a>
</form>*@