@model VBookHaven.Controllers.AuthorController

<form method="post">
	<label>Author Name</label>
	<input asp-for="Author.AuthorName" /><br />
	<label>Author Description</label>
	<input asp-for="Author.Description" /><br />
	<input type="submit" value="Submit" />
</form>