@using VBookHaven.Models;
@model VBookHaven.Controllers.AuthorController;
@{
	Author author = (Author)ViewData["author"];
}

<form method="post">
	<label>Author ID</label>
	<input readonly asp-for="Author.AuthorId" /><br />
	
	<label>Author Name</label>
	<input asp-for="Author.AuthorName" /><br />
	
	<label>Author Description</label>
	<input asp-for="Author.Description" /><br />
	
	<label>Status</label>
	<input type="radio" asp-for="Author.Status" value="true" checked="@Model.Author.Status"/>
	<label>Active</label>
	<input type="radio" asp-for="Author.Status" value="false" checked="@(!Model.Author.Status)"/>
	<label>Inactive</label><br />

@*	<input hidden asp-for="Author.CreateDate" />
	<input hidden asp-for="Author.CreatorId" />*@

	<input type="submit" value="Submit" />
	<a href="/author/index">Cancel</a>
</form>