@using VBookHaven.Models
@model List<Author>

<a href="author/add">Add author</a>
<ul>
	@foreach (Author a in Model)
	{
		<li><a href="author/edit/@a.AuthorId">@a.AuthorId - @a.AuthorName - @a.Status</a></li>
	}
</ul>
